#navbar {
    overflow-x: hidden;
    border-radius: 25px;
    background-color: black;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left {
    font-family: monospace;
    font-weight: 700;
    letter-spacing: 0.2em;
    font-size: 1.2rem;
    cursor: default;
    justify-content: start;
}

.right {
    letter-spacing: 0.09rem;
    font-size: 1.1rem;
    text-align: center;
    justify-content: end;
}

#userNdiv {
    position: absolute;
    top: 32px;
    left: 93vw;
    font-size: 10px;
}

#navbar a {
    display: flex;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    padding: 20px;
}

body {
    background: linear-gradient(45deg, #00D4FF, #090979);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#con {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 40vh;
    justify-content: center;
    font-size: 24px;
}

h4 {
    font-family: monospace;
    font-weight: 700;
    padding: 0px 0px 20px 0px;
    margin: 0px;
}

form {
    background-color: rgb(255, 255, 255);
    padding: 40px 55px;
    border-radius: 25px;
    display: flex;
    margin: 20px;
    min-width: 60vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

input {
    background-color: rgb(179, 179, 179);
    border: none;
    color: black;
    min-width: 200px;
    padding: 10px;
    border-radius: 15px;
}

input::placeholder {
    color: black;
    letter-spacing: 1.2px;
}

.int-group {
    padding: 5px;
    margin-block: 10px;
}

input[type="submit"],
input[type="reset"] {

    color: white;
    padding-inline: 1.2em;
    font-size: 14px;
    min-width: 100px;
}

input[type="submit"]:disabled {
    background-color: grey;
}

input[type="search"] {
    min-width: unset;
    padding-inline: 1.2em;
    font-size: 14px;
    min-width: 400px;
}

table {
    font-size: 1.2rem;
}

input[name="add"] {
    background-color: rgb(15, 192, 15);
}

input[name="edit"] {
    background-color: blue;
}

input[name="delete"] {
    background-color: red;
}

button[name="selectBtn"] {
    background-color: rgb(119, 255, 0);
    padding: 5px;
    border-radius: 45px;
    border: none;
}

input[type="reset"] {
    background-color: darkblue;
}

input[type="text"],
input[type="number"] {
    font-size: 1.05rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}